/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding-top: 40px;
  text-align: center;
}

/* Title Styles */
h1.tagline {
  font-size: 2rem;
  color: #f5f5f5;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
}

/* Card Styles */
.card {
  background-color: #333;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Card Heading Styles */
.card h2 {
  color: #b0bec5;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Card Description Styles */
.card p {
  color: #e0e0e0;
  margin-bottom: 25px;
  font-size: 1rem;
}

/* File Upload Button Styling */
.file-upload input {
  display: none;
}

.file-upload {
  border: 2px dashed #888;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  color: #b0bec5;
}

.file-upload:hover {
  background-color: #444;
  border-color: #b0bec5;
}

/* Accepted File Upload Background */
.file-upload.accepted {
  background-color: #4caf50;
}

/* Style when files are dragged over the drop zone */
.file-upload.dragover {
  background-color: #333;
  border-color: #4caf50; /* Change border color when dragging over */
}

/* Accessibility & Mobile Styles */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .card {
    width: 100%;
    padding: 15px;
  }
}
